
Comments/Appearance of comments
Comments/Comments posting form
Common templates/Style sheet (CSS)
Global blocks/Bottom part of the website
Global blocks/The first container
Global blocks/PROMO
Global blocks/Top part of the website
Page Editor/Site pages
Site Search/Appearance of entries
Site Search/Search page
Users/Access danied page
Users/Form of editing personal data
Users/Local users registration form
Users/Page for editing user's personal data
Users/Page with the list of user's comments
Users/Private messages (PM)
Users/The uID users' additional fields form
Users/The website is temporarily closed page
Users/uID users registration form
Users/User login form
Users/User login page
Users/User registration page
Users/User's personal page
Users/Users list page
